<h1>Editing mark</h1>

<%= render "form", mark: @mark %>

<br>
<div class="d-flex align-items-center justify-content-between">
  <%= link_to "Show this mark", @mark, class: 'button-4' %> 
  <%= link_to "Back to marks", marks_path, class: 'button-4' %>
</div>

