<div class="d-flex align-items-center justify-content-between">
  <h1>Assign mark</h1>
  <%= link_to "Back to marks", marks_path, class: 'button-4' %>
</div>

<%= render "form", mark: @mark %>

<br>

